<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bindingAddress" value="10.0.2.15" />
    <add key="bindingPort" value="2100" />
	<add key="libGLibraryDirectory" value="libg_220_linux" />
	<add key="asmLibraryDirectory" value="/LibG/asm/asm_sdk_220/lib/LNX_D0" />
	<add key="MaxTesselationDivisions" value="32" />
  </appSettings>
</configuration>